{% extends 'project0/base.html' %}
{% load static %}

{% block content %}
<div class="about-page-container">
    <div class="about-content">
        <div class="about-block"></div>
        <div class="about-logo">
            <img src="{% static 'about.png' %}" height=344px width=98px>
        </div>
        <div class="white-line"></div>
        <div class="about-text">
            <p>Project TYPE YOUR WORDS is an interactive artwork where users can create their own unique designs using the AMHO. AMHO is a new set of alphabet/language designed to become a visual representation of the input. It veils the content and allows the narrative to be communicated through image. The project came from the idea of digital communication and the overwhelming content on the internet. To drag off the weight that word could hold, image is used instead to carry the narrative. We wish the users could use our site to scream off without the pressure of being read but seen. Explore the process of transformation from word to image.
            </p>
        </div>

        <div class="creators-block"></div>
        <div class="creators-logo">
            <img src="{% static 'creators.png' %}" height=97px width=423px>
        </div>
        <div class="yoon-name-tag">
            <img src="{% static 'yoonjoocho.png' %}" height=28px width=126px>
        </div>
        <div class="yoon-text">
            <p>Graphic Designer / Maryland Institute College of Art
                Instagram @yoon.joo.cho</p>
        </div>

        <div class="jeongin-name-tag">
            <img src="{% static 'jeonginlee.png' %}" height=29px width=115px>
        </div>
        <div class="jeongin-text">
            <p>Web Developer / NYU Abu Dhabi
                Instagram @jeongl_</p>
        </div>

        <div class="z-invert"><img src="{% static 'alphas/z_invert.png' %}" height=60px width=60px></div>
        <div class="l-invert"><img src="{% static 'alphas/l_invert.png' %}" height=70px width=70px></div>
        <div class="i"><img src="{% static 'alphas/i.png' %}" height=82px width=82px></div>
        <div class="h"><img src="{% static 'alphas/h.png' %}" height=134px width=134px></div>
        <div class="g"><img src="{% static 'alphas/g.png' %}" height=120px width=120px></div>
        <div class="f"><img src="{% static 'alphas/f.png' %}" height=116px width=116px></div>
        <div class="img4"><img src="{% static 'alphas/4.png' %}" height=96px width=96px></div>
        <div class="img9"><img src="{% static 'alphas/9.png' %}" height=318px width=318px></div>
    </div>
</div>
{% endblock %}