{% extends 'project0/base.html' %}
{% load static %}

{% block content %}
<div class="about-page-container">
    <img src="{% static 'about_bg.jpg' %}" class="about-bg" width=1440 height=900>

    <div class="text-wrapper">
        <div class="about-text">
            <p>Project TYPE YOUR WORDS is an interactive artwork where users can create their own unique designs using the AMHO. AMHO is a new set of alphabet/language designed to become a visual representation of the input. It veils the content and allows the narrative to be communicated through image. The project came from the idea of digital communication and the overwhelming content on the internet. To drag off the weight that word could hold, image is used instead to carry the narrative. We wish the users could use our site to scream off without the pressure of being read but seen. Explore the process of transformation from word to image.
                
            </p>
        </div>
    </div>

    <div class="yoon-text">
        <p>Graphic Designer / Maryland Institute College of Art
            Instagram @yoon.joo.cho</p>
    </div>

    <div class="jeongin-text">
        <p>Web Developer / NYU Abu Dhabi
            GitHub @jjeongin</p>
    </div>
</div>
{% endblock %}